@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.desktop-version {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Desktop Version*/

.main-container {
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.sedans, .suvs, .luxary {
    width: 300px;
    float: left;
    height: 500px;
    padding: 50px;
}


.sedans {background-color: hsl(31, 77%, 52%);}
.suvs {background-color: hsl(184, 100%, 22%);}
.luxary {background-color: hsl(179, 100%, 13%);}

.sedans h1, .suvs h1, .luxary h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sedans p, .suvs p, .luxary p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 70px;
}

.sedans button, .suvs button, .luxary button {
    font-family: 'Lexend Deca', sans-serif;
    height: 3em;
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1.5em;
}

.sedans button:hover, .suvs button:hover, .luxary button:hover {
    background: transparent;
    color: white;
}

.sedans button {color: hsl(31, 77%, 52%);}
.suvs button {color: hsl(184, 100%, 22%);}
.luxary button {color: hsl(179, 100%, 13%);}

/*Desktop Version*/

/*Mobile Version*/

.main-container-mobile {
    margin: 30px;
    overflow: hidden;
    border-radius: 10px;
    display: none;
}

.sedans-mobile, .suvs-mobile, .luxary-mobile {
    height: 400px;
    padding: 50px;
}


.sedans-mobile {background-color: hsl(31, 77%, 52%);}
.suvs-mobile {background-color: hsl(184, 100%, 22%);}
.luxary-mobile {background-color: hsl(179, 100%, 13%);}

.sedans-mobile h1, .suvs-mobile h1, .luxary-mobile h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sedans-mobile p, .suvs-mobile p, .luxary-mobile p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 70px;
}

.sedans-mobile button, .suvs-mobile button, .luxary-mobile button {
    font-family: 'Lexend Deca', sans-serif;
    height: 3em;
    background-color: white;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 1.5em;
}

.sedans-mobile button:hover, .suvs-mobile button:hover, .luxary-mobile button:hover {
    background: transparent;
    color: white;
}

.sedans-mobile button {color: hsl(31, 77%, 52%);}
.suvs-mobile button {color: hsl(184, 100%, 22%);}
.luxary-mobile button {color: hsl(179, 100%, 13%);}

/*Mobile Version*/

/*Responsive Effect of the page*/ 

@media screen and (max-width: 901px) {
    .main-container-mobile {
        display: block;
    }
    .desktop-version {
        display: none;
    }
}

@media screen and (max-width :418px) {
    .sedans-mobile, .suvs-mobile, .luxary-mobile {
        height: auto;
    }
}